<div *ngFor="let film of films" class="np-items" routerLink='/film/{{film.id}}'>
	<div class="film-img">
		<img [src]="film.poster.origin" />
	</div>
	<div class="np-info">
		<div class="film-name">
			{{film.name}}
			<div class="film-grade">
				{{film.grade}}
			</div>
		</div>
		<div class="film-intro">
			{{film.intro}}
		</div>
		<div class="film-count">
			<span class="film-count-num">{{film.cinemaCount}}</span>家影院上映&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="film-count-num">{{film.watchCount}}</span>人购票
		</div>
	</div>
</div>